<a href="https://colab.research.google.com/github/lucaslau77/PO/blob/main/Stock_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
# Import libraries
from pandas_datareader import data as web
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [44]:
# Get ticker symbol
ticker =  "WYNN"

# Create a variable for predicting 'n' days out into the future
projection = 14

In [45]:
# Get the price starting date
StartDate = '2013-01-01'

# Get the price ending date
today = datetime.today().strftime('%Y-%m-%d')

In [46]:
# Create a dataframe to store the adjusted close price of stock
df = pd.DataFrame()

# Store the adjusted close price of stock into df
df = web.DataReader(ticker, data_source='yahoo', start=StartDate, end=today)

# Show the df
df

                  High         Low  ...     Volume   Adj Close
Date                                ...
2013-01-02  119.019997  115.879997  ...  2487000.0   96.279900
2013-01-03  121.059998  118.339996  ...  1731900.0   97.315514
2013-01-04  122.209999  119.400002  ...  2129100.0   98.489761
2013-01-07  121.989998  120.260002  ...  1501000.0   98.824097
2013-01-08  121.879997  119.830002  ...   976300.0   98.742554
...                ...         ...  ...        ...         ...
2021-06-11  127.269997  124.769997  ...  1205800.0  127.169998
2021-06-14  127.519997  123.900002  ...  3051900.0  124.949997
2021-06-15  126.209999  124.570000  ...  1658200.0  125.400002
2021-06-16  126.180000  123.720001  ...  1621900.0  125.449997
2021-06-17  129.320007  124.511002  ...  2281220.0  125.300003

[2130 rows x 6 columns]

In [47]:
# Create a new column called prediction
df['Prediction'] = df[['Close']].shift(-projection)
df

                  High         Low  ...   Adj Close  Prediction
Date                                ...
2013-01-02  119.019997  115.879997  ...   96.279900  123.129997
2013-01-03  121.059998  118.339996  ...   97.315514  122.680000
2013-01-04  122.209999  119.400002  ...   98.489761  123.930000
2013-01-07  121.989998  120.260002  ...   98.824097  123.540001
2013-01-08  121.879997  119.830002  ...   98.742554  122.389999
...                ...         ...  ...         ...         ...
2021-06-11  127.269997  124.769997  ...  127.169998         NaN
2021-06-14  127.519997  123.900002  ...  124.949997         NaN
2021-06-15  126.209999  124.570000  ...  125.400002         NaN
2021-06-16  126.180000  123.720001  ...  125.449997         NaN
2021-06-17  129.320007  124.511002  ...  125.300003         NaN

[2130 rows x 7 columns]

In [48]:
# Create the independent data set (x)
X = np.array(df[['Close']])

# Remove the last n rows
X = X[:-projection]
print(X)

[[118.06999969]
 [119.33999634]
 [120.77999878]
 ...
 [129.02999878]
 [132.44999695]
 [132.66999817]]

In [49]:
# Create the dependent data set (y)
y = df['Prediction'].values
y = y[:-projection]
print(y)

[123.12999725 122.68000031 123.93000031 ... 125.40000153 125.44999695
 125.30000305]

In [50]:
# Split the data into 85% training and 15% testing datasets
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = .15)

In [51]:
# Create and train the model
linReg = LinearRegression()

# Train the model
linReg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:
# Test the model using score
linReg_confidence = linReg.score(x_test, y_test)
print('Linear Regression Confidence:', linReg_confidence)

Linear Regression Confidence: 0.8961097003660263

In [53]:
# Create a variable called x_projection and set it equal to the last n rows of data from the original dataset
x_projection = np.array(df[['Close']])[-projection:]
print(x_projection)

[[131.86999512]
 [135.61000061]
 [134.6499939 ]
 [129.08000183]
 [128.16000366]
 [129.1000061 ]
 [128.05000305]
 [126.66999817]
 [126.16999817]
 [127.16999817]
 [124.94999695]
 [125.40000153]
 [125.44999695]
 [125.30000305]]

In [54]:
# Print the linear regression model predictions for the next n days
linReg_prediction = linReg.predict(x_projection)
print(linReg_prediction)

[131.92382171 135.47305122 134.56201401 129.27614471 128.40307523
 129.29512857 128.2986857  126.98907424 126.51457901 127.46356947
 125.3568095  125.78385955 125.83130473 125.68896195]